<section class="phx-hero">
  <h1>Welcome to the next gen agricultural technologies</h1>

  <section class="row">
    <article class="column">
      <h2>Dashboard doesn't work as of yet</h2>
    </article>
  </section>
</section>
